.dwallpaper {
  background-image: url(../../assets/images/fondo-d.png);
  padding: 12% 10%;
  z-index: -1;
  margin-top: -10px;
  &_image {
    position: relative
  }
  &_text {
    padding: 30px 25px;
    background: #fff;
    position: relative;
  }
  &_logo-munich{
    width: 40%;
    margin-bottom: 34px;
  }
  p{
    color: #494846;
  }
  .text1{
    font-weight: 400;
  }
  .text2{
    font-weight: 700;
  }
  &_table{
    display: flex;
    flex-direction: row;
    column-gap: 60px;
    .line{
      background-color: #d6d6d6;
      height: 1px;
      width: 110%;
      margin-bottom: 1rem;
    }
  }
  .btn.btn-primary {
    background-color: #005170;
    border-color: #005170;
    border-radius: 48px;
    padding: 8px 40px;
    color: $white;
    font-size: 1rem;
    font-weight: 700;
  }
  .btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus{
    background-color: #002938!important;
    border-color: #002938!important;
    box-shadow: none!important;
  }

  .l-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 40px;
    .text{
      font-size: 1.125rem;
      color:$black;
    }
  }
  .logos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
    .log img{
      width: 80%;
    }
  }
}

#location{
  h1{
    color:#005170;
  }
  h1.display-3{
    font-weight: 900;
    text-align: center;
    margin-bottom: 90px;
  }
  h1.titleII{
    font-weight: 700;
  }
  h2{
    color: #494846;
    font-weight: 400;
  }
  a{
    font-weight: 700;
    font-size: 2rem;
  }
  .ulist{
    margin-top: 145px;
    .list {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 50px;
      img {
        width: 8%;
        padding-right: 20px;
      }
    }
  }
  .mlocation{
    margin-bottom: auto;
    transform: scale3d(1, 1.8, 1);
    position: relative;
    .tmunich{
      position: absolute;
      z-index: 10000;
      right: 26%;
      width: 10%;
      bottom: 58%;
    }
  }

}

@media (min-width:1200px) {
  .dwallpaper {
    &_image {
      img {
        transform: scale(1.6);
        position: absolute;
        bottom: 160px;
        z-index: 1;
        right: 0;
      }
    }
    &_text {
      padding: 30px 0px 30px 135px;
      &:before {
        content: '';
        position: absolute;
        height: 100%;
        background: #fff;
        z-index: -1;
        width: 135%;
        left: -20%;
        top: 0;
      }
    }
  }
}

@media (min-width:1260px) {
  .dwallpaper {
    &_image {
      img {
        transform: scale(1.5);
        bottom: 145px;
      }
    }
    &_text {
      padding: 30px 0px 30px 135px;
      &:before {
        width: 130%;
        left: -20%;
      }
    }
  }
}

@media (min-width:1330px) {
  .dwallpaper {
    &_image {
      img {
        transform: scale(1.35);
        bottom: 105px;
      }
    }
  }
}

@media (min-width:1440px) {
  .dwallpaper {
    &_image {
      img {
        transform: scale(1.25);
        bottom: 70px;
      }
    }
    &_text {
      padding: 30px 60px 30px 90px;
      &:before {
        width: 100%;
      }
    }
  }
}
@media (min-width:1600px) {
  .dwallpaper {
    &_image {
      img {
        transform: scale(1.1);
        bottom: 22px;
      }
    }

  }
}
@media (max-width: 1199px){
  .dwallpaper {
    background-image: none;
    background-color: white;
    padding: 8vh 0;
    &_table {
      display: flex;
      flex-direction: column;
      padding-top: 9px;
      background-color: #F7F7F7;
      padding-bottom: 10px;
      text-align: center;
      .line {
        background-color: #d6d6d6;
        width: 100%;
      }
      .uline{
        display: none;
      }
    }
    .button {
      text-align: center;
      margin-top: 20px;
    }
    .l-text {
      justify-content: space-evenly;
    }
    .logos {
      justify-content: space-evenly;
    }
  }

}

@media (max-width: 992px) {

}
