/*-----------------------Descripcion-----------------------*/
.dwallpaper {
  background-image: url(../../assets/images/fondo-d.png);
  padding: 11% 10% 6% 14%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -10px;
  &_image {
    position: relative;
    z-index: 2;
  }
  &_text {
    padding: 30px 25px;
    background: $white;
    position: relative;
    z-index: 1;
    &-inner {
      position: relative;
      z-index: 2;
    }
  }
  &_logo-munich{
    width: 100%;
    max-width: 200px;
    margin-bottom: 34px;
  }
  p{
    color: $text-black;
  }
  .text1{
    font-weight: 400;
  }
  .text2{
    font-weight: 700;
  }
  &_table{
    display: flex;
    flex-direction: row;
    column-gap: 60px;
    .line{
      background-color: $linegrey;
      height: 1px;
      width: 110%;
      margin-bottom: 1rem;
    }
  }
  .l-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 40px;
    .text{
      font-size: 0.75rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      img {
        width: 80%;
        max-width: 160px;
        margin-top: 15px;
        &.ventus {
          width: 55%;
        }
      }
    }
  }
}
/*-----------------------Ubicación-----------------------*/
#location{
  margin-bottom: 0;
  .container {
    position: relative;
    z-index: 2;
  }
  p.h1{
    text-align: center;
    margin-bottom: 65px;
  }
  p.h5{
    margin-bottom: 10px;
  }
  .mybtn{
    font-weight: 700;
    font-size: 1rem;
    color: $text-black;
    background-color: $white;
    border: none;
  }
  .mybtn:hover, .mybtn:active, .mybtn:focus{
    text-decoration: none;
    color: $black;
    border: none;
    outline: none;
  }
  .ulist{
    margin-top: 100px;
    .list {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 25px;
      cursor: pointer;
      p{
        color:$black;
        margin-bottom: 0;
      }
      &.selector{
        p{
          color:$blackgrey;
          margin-bottom: 0;
        }
      }
      img {
        max-width: 45px;
        padding-right: 20px;
        width: 100%;
      }
    }
  }
  .mlocation{
    max-width: 900px;
    width: 100%;
    margin-left: auto;
    position: relative;
    .active{
      span:hover *{
        opacity: 1;
        transition: 0.3s ease;
      }
      span::after{
        opacity: 1 !important;
      }
    }
    img {
      width: 100%;
    }
    span{
      b{
        padding: 4px 5px 1px 5px;
        line-height: 1.25;
        display: inline-block;
      }
      color: $white;
      text-align: right;
      font-weight: 600;
      font-size: 0.6rem;
      position: absolute;
      &::after {
        opacity: 0;
        position: absolute;
        content: "";
        width: 20px;
        height: 20px;
        right: -22px;
        top: 0;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
      &:hover::after{
        transform: translateY(-3px);
        transition: 0.3s ease;
      }
    }
  }
  .university{
    span{
      &::after {
        background-image: url(../../assets/images/ubicacion/pin-universidades.png);
      }
      b{
        opacity: 0;
        background-color: $blueuniversity;
      }
      max-width: 80px;
      &:first-child{
        bottom: 38%;
        left: 3.3%;
      }
      &:nth-child(2){
        top: 25.5%;
        right: 50%;
      }
      &:nth-child(3){
        top: 31.5%;
        right: 41%;
      }
      &:nth-child(4){
        bottom: 44.2%;
        right: 40.4%;
      }
      &:nth-child(5){
        bottom: 16%;
        right: 38.6%;
      }
      &:nth-child(6){
        top: 19.8%;
        right: 22.8%;
      }
      &:nth-child(7){
        &::after{
          left: -26px;
        }
        top: 29%;
        right: 10.1%;
      }
      &:last-child{
        bottom: 47.5%;
        right: 10%;
      }
    }
  }
  .sites-public{
    span{
      &::after {
        background-image: url(../../assets/images/ubicacion/pin-parques.png);
      }
      b{
        opacity: 0;
        background-color: $aquamarine;
      }
      max-width: 70px;
      &:first-child{
        &::after{
          right: 82px;
        }
        bottom: 15%;
        left: 8%;
      }
      &:nth-child(2){
        bottom: 39%;
        left: 14.7%;
      }
      &:nth-child(3){
        bottom: 17%;
        left: 27.8%;
      }
      &:nth-child(4){
        bottom:42%;
        right: 32.5%;
      }
      &:nth-child(5){
        bottom: 2%;
        right: 24.5%;
      }
      &:last-child{
        bottom: 41.5%;
        right: 16%;
      }
    }
  }
  .clubs{
    span{
      &::after {
        background-image: url(../../assets/images/ubicacion/pin-clubes.png);
      }
      b{
        opacity: 0;
        background-color: $blueaqua;
      }
      &:first-child{
        top: 14%;
        right: 46.5%;
      }
      &:last-child{
        top: 2%;
        right: 37.5%;
      }
    }
  }
  .banks{
    span{
      &::after {
        background-image: url(../../assets/images/ubicacion/pin-bancos.png);
      }
      b{
        opacity: 0;
        background-color: $bluesky;
      }
      max-width: 50px;
      &:first-child{
        bottom: 23%;
        left: 16%;
      }
      &:nth-child(2){
        bottom: 37%;
        right: 30%;
      }
      &:last-child{
        &::after{
          right: 27px;
        }
        top: 29.5%;
        right: 0.5%;
      }
    }
  }
}
/*-----------------------Unidades I-----------------------*/
#unitsI{
  background: linear-gradient(to bottom, rgba(250,250,250,0.1) 0%, rgba(248,248,248,0.1) 51%, rgba(248,248,248,1) 53%, rgba(247,247,247,1) 100%);
  z-index: 1;
  .wunits{
    position: relative;
    .ptext{
      top: 0;
      bottom: 0;
      margin-top: auto;
      margin-bottom: auto;
    }
    img.uright {
      max-width: 395px;
      width: 100%;
      margin-top: 15px;
    }
  }
  .wunits:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 65vh;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    background-image: url(../../assets/images/unidades/fondo-udesktop.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 100%;
  }
  p.h5, p.h3{
    color: $white;
  }
  p.h5 {
    margin-top: 15px;
    font-weight: 400;
  }
}
/*-----------------------Unidades II-----------------------*/
#unitII {
  background-color: $whiteunit;
  #nameLevel{
    color: $bluetitle;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-content: center;
    text-transform: capitalize;
    img{
      width: 22px;
      height: auto;
    }
  }
  h5{
    color: $text-black;
    font-weight: 400;
  }
  h3{
    font-family: 'Raleway';
    font-weight: 700;
    color: $bluetitle;
  }
  .download {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 15px;
    .down {
      width: 15px;
      margin-right: 10px;
    }
    .zoom{
      width: 25px;
      margin-left: 20px;
      transform: translateY(-3px);
    }
    a{
      text-decoration: none;
      font-size: 1rem;
      font-weight: 500;
      color: $bluetitle;
    }
  }
  .footer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    column-gap: 50px;
    margin-top: 90px;
    margin-bottom: 30px;
    .unitp{
      display: flex;
      align-items: center;
      margin-top: 2px;
      canvas#myChart {
        width: 110px!important;
        height: auto!important;
        margin-right: -25px;
      }
      img.porcentage{
        width: 80px;
        padding-right: 20px;
      }
      .titleFoo {
        color: $bluetitle;
        margin-bottom: 0;
        font-weight: 700;
        line-height: 0.8;
        span{
          font-size: 0.75rem;
        }
      }
    }
    .unitText{
      position: relative;
      text-align: left;
      h5{
        font-style: italic;
      }
      p{
        margin-bottom: 20px;
      }
    }
  }
}
/*-----------------------Tipologias-----------------------*/
#typology{
  padding: 0;
  .bg{
    background-size: cover;
    height: 100vh;
    width: 100%;
    &.bg1{
      background-image: linear-gradient(90deg, #00000096 0%, #00000000 60%, #00000000 100%), url(../../assets/images/tipologias/monoambiente.jpg);
    }
    &.bg2{
      background-image: linear-gradient(90deg, #00000096 0%, #00000000 60%, #00000000 100%), url(../../assets/images/tipologias/1dormitorio.jpg);
    }
  }
  .titleTypology{
    display: flex;
    align-items: center;
    height: 100vh;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    &::before{
      position:absolute;
      content: "";
      background-image: url(../../assets/images/tipologias/ft-desktop.png);
      width: 32%;
      height: 100vh;
      z-index: 1;
      left: 0;
      top: 0;
      background-size: 100% 100%;
      background-position: left center;
      background-repeat: no-repeat;
    }
  }
  .titleTextTypology{
    height: 86px;
    overflow: hidden;
    margin-bottom: 20px;
  }

  .col-12{
    z-index: 2;
  }
  h2, .display-2{
    color: $white;
  }
  h2{
    font-weight: 500;
  }
  .display-2{
    font-weight: 800;
  }
  .btn.btn-primary {
    padding: 6px 15px;
  }
  .modal {
    .modal-content {
      padding: 20px 0;
      border-radius: 50px;
      .close {
        display: none;
      }
      .close:hover, .close:focus {
          color: $black;
          text-decoration: none;
          cursor: pointer;
      }
      .modal-body{
        .item{
          display: grid;
          grid-template-columns: 40% auto;
          column-gap: 25px;
          .mcol-left{
            .display-5{
              font-weight: 800;
            }
            h3{
              margin-bottom: 15px;
            }
            .line{
              border-bottom: 1px solid;
              color: $linegrey;
              width: 100%;
              margin: 10px 0;
            }
            p{
              margin-bottom: 10px;
            }
            img.pref {
              margin-top: 20px;
              width: 100%;
              max-width: 320px;
              margin-left: auto;
              margin-right: auto;
            }
          }
          .mcol-right{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img.gref {
              width: 100%;
              max-width: 450px;
            }
          }
        }
        .owl-carousel {
          display: block;
          padding: 0 62px;
          .owl-dots {
            display: none;
          }
          button:focus {
            outline: none;
          }
          .owl-prev {
            position: absolute;
            left: 1%;
          }
          .owl-next {
            position: absolute;
            right: 1%;
          }
          .owl-nav [class*=owl-] {
            font-size: 60px !important;
            top: 0;
            bottom: 0;
            margin-bottom: auto;
            margin-top: auto;
            color: $bluetitle !important;
          }
          .owl-nav [class*=owl-]:hover {
            background: none;
            text-decoration: none;
          }
        }
      }
    }
  }
}
/*---------------------------unidades-galeria-----------------------------*/
#unitsGallery{
  margin-left: auto;
  margin-right: auto;
  padding-top: 12vh;
  padding-bottom: 10vh;
  .swiper-container{
    z-index: 0;
  }
  .gallery-thumbs {
    margin-top: 30px;
    .swiper-slide:hover {
      cursor: pointer;
    }
  }
  .gallery-top{
    .swiper-slide{
      img{
        width: 100%;
      }
    }
  }
}

/*----------------------Amenities-I--------------------------------*/
#amenitiesI{
  padding-bottom: 0;
  .camenit{
    position: relative;
  }
  .camenit:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 65vh;
    top: 35%;
    transform: translateY(-50%);
    z-index: -1;
    background-image: url(../../assets/images/amenities/fa-d.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 100%;
  }
  .col-right {
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    p{
      color: $white;
    }
    p.h5{
      font-weight: 400;
    }
  }
  .aright {
    width: 100%;
    max-width: 600px;
  }
}
/*----------------------Amenities-I (text-inferior)--------------------------------*/
#stext{
  padding: 0;
  .atext{
    margin-left: auto;
  }
}
/*----------------------Amenities-II (imagen)--------------------------------*/
#bamenities{
  padding-bottom: 40px;
  img{
    width: 100%
  }
}
/*----------------------Amenities-III --------------------------------*/
#amenitiesIII{
  padding-bottom: 60px;
  .col-am{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 40px;
    .am{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      img {
        max-width: 90px;
        width: 100%;
        margin-bottom: 32px;
      }
      p{
        text-align: center;
      }
    }
  }
  .fancyImgBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px;
    margin-top: 10px;
    text-align: center;
    .fancyBox{
      .fancyImgItem{
        .thumbnail {
          -webkit-transition: ease-in-out 0.5s;
          transition: ease-in-out 0.5s;
          width: 80%;
          margin-bottom: 50px;
        }
      }
      .fancyImgItem:hover img.thumbnail {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        -webkit-transition: ease-in-out 0.5s;
        transition: ease-in-out 0.5s;
      }
      .information {
        .titleFancyBox{
          color: $black;
          font-weight: 400;
          margin-bottom: 27px;
        }
      }
    }
  }
}
/*----------------------------ADVANCE------------------------------*/
#advance{
  background-color: $whiteunit;
  padding-bottom: 27px;
  padding-top: 50px;
  .title{
    text-align: center;
    margin-bottom: 55px;
    color: $text-black;
  }
  .tline{
    text-align: center;
    img{
      width: 60%;
    }
  }
  .aline{
    display: grid;
    grid-template-columns: 20% 30% 50%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    .item{
      img{
        width: 100%;
        height: 100px;
        margin-top: 10px;
        margin-bottom: 0;
        max-width: 65px;
      }
    }
    .item.finish {
      display: flex;
      flex-direction: column;
      margin-left: auto;
      img.finish {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  #lightgallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1%;
    margin-top: 35px;
    a{
      overflow: hidden;
      position: relative;
    }
    a img {
      transition: all .5s ease;
      width: 100%;
    }
    a span {
      left: 15px;
      top: 15px;
      position: absolute;
      z-index: 2;
      color: $white;
      background: $bluetitle;
      padding: 5px 24px;
      border-radius: 30px;
      box-shadow: 0 3px 6px #00000030;
      font-size: 0.75rem;
      font-weight: 700;
    }
     a:hover img {
      transform: scale(1.07);
    }
    .swiper-wrapper {
      padding-bottom: 30px;
    }
    .swiper-pagination {
      display: none;
      bottom: 0;
    }
}
  .cswiper{
    margin-top: 50px;
    .swiper {
      width: 100%;
      height: 100%;
      .swiper-slide {
        span{
          left: 15px;
          top: 15px;
          position: absolute;
          z-index: 2;
          color: $white;
          background: $bluetitle;
          padding: 5px 24px;
          border-radius: 30px;
          box-shadow: 0 3px 6px #00000030;
          font-size: 0.75rem;
          font-weight: 700;
        }
        img.imgswiper {
          display: block;
          height: 340px;
          width: 100%;
          object-fit: cover;
        }
      }
      .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 50px !important;
      }
      .swiper-pagination-bullet-active {
        background: $swipergrey!important;
      }
    }
  }
}
/*----------------------------------Project-----------------------------*/
#project{
  text-align: center;
  padding-bottom: 60px;
  p{
    color: #000000C9;
  }
  .ititle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
    h3{
      color: $blackgrey;
      margin-bottom: 0;
    }
    img{
      width: 100%;
      max-width: 60px;
      padding-right: 20px;
    }
  }
  img.logo-ventus {
    width: 100%;
    margin-top: 52px;
    max-width: 220px;
  }
  img.psolare {
    width: 100%;
    max-width: 350px;
    position: absolute;
    right: 0;
    bottom: -40px;
    z-index: -1;
  }
}
/*---------------------------ProjectUs-----------------------------*/
#projectUs {
  background-image: url(../../assets/images/bigdata/fbigdata.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  p, p.h3, u{
    color: $white;
  }
  .title{
    margin-bottom: 30px;
  }
  .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 54px;
    p {
      margin-bottom: 0;
      margin-right: 10px;
      font-size: 1rem;
    }
     img {
      height: 33px;
    }
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    p {
      margin: 0;
      line-height: 1.5rem;
    }
    span{
        font-weight: 700;
        font-size: 2rem;
      }
  }
}
/*---------------------------Contact----------------------------*/
 #contact {
    padding: 45px 0;
    p.h5{
      margin-bottom: 43px;
    }
    .imgbg {
      display: none;
    }
    p.h3 {
      margin-bottom: 10px;
    }
    form#contactForm {
      margin-bottom: 15px;
      width: 90%;
      .form-floating {
        margin-bottom: 12px;
      }
    }
    .formCol2{
      display: flex;
      flex-direction: column;
      justify-content: center;
      p.h3.strong {
        font-size: 20px;
        font-weight: 500;
      }
      h5{
        font-weight: 400;
      }
      h5.strong.fw-bold {
        margin-bottom: 37px;
      }
      a img {
        width: 100%;
        max-width: 35px;
        margin-right: 18px;
      }
      .whatsapp {
        font-size: 20px;
        display: flex;
        flex-direction: initial;
        align-items: center;
        margin-bottom: 20px;
        color: $bluetitle;
      }
    }
  }
/*-----------------------------About-Us----------------------------*/
#aboutUs {
  .divider {
    width: 100%;
    margin: 40px auto 70px;
  }
  img.logo {
    width: 80%;
  }
  #building{
    .twoImages{
      background-image: url(../../assets/images/nosotros/continents-nosotros.jpg);
      height: 400px;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  #continents{
    margin-top: 50px;
  }
}
#aboutUsv{
  background-color: $whiteunit;
  img.logo {
    width: 80%;
  }
  #ventus{
    div.twoImages img:not(.logo) {
      width: 100%;
      margin-bottom: 30px;
    }
    .footer{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 30px 0;
      column-gap: 15px;
    }
    .seeMore {
      display: flex;
      flex-direction: row;
      .red {
        margin-left: auto;
        img {
          max-width: 60px;
          width: 100%;
          padding-left: 20px;
        }
      }
   }
  }
}
#aboutUsc{
  img.logo {
    width: 80%;
  }
  #cesio{
    margin-top: 50px;
  }
}
@media (min-width:992px) {
  #amenitiesI{
    .container {
      transform: translateY(-70px);
    }
    .aright {
      display: none
    }
  }
}
@media (min-width:992px) and (max-width:1199px) {
  #amenitiesI{
    .camenit {
      &:after {
        background-size: 150%;
        background-position: 25% center;
      }
    }
  }
}
@media (min-width:1200px) {
  .dwallpaper {
    &_image {
      img {
        transform: scale(1.6);
        position: absolute;
        bottom: 160px;
        z-index: 1;
        right: 0;
      }
    }
    &_text {
      padding: 30px 0px 30px 135px;
      box-shadow: 2px 5px 10px rgba(0,0,0,.15);
      &:before {
        content: '';
        position: absolute;
        height: 100%;
        background: $white;
        z-index: 1;
        width: 135%;
        left: -20%;
        top: 0;
      }
    }
  }
  #unitII {
    .footer {
      .unitText {
        &:before {
          content: '';
          position: absolute;
          left: -20px;
          height: calc(100% - 62px);
          width: 1px;
          background: $linegrey;
        }
      }
    }
  }
}

@media (min-width:1260px) {
  .dwallpaper {
    &_image {
      img {
        transform: scale(1.5);
        bottom: 145px;
      }
    }
    &_text {
      padding: 30px 0px 30px 135px;
      &:before {
        width: 130%;
        left: -20%;
      }
    }
  }
}

@media (min-width:1330px) {
  .dwallpaper {
    &_image {
      img {
        transform: scale(1.35);
        bottom: 105px;
      }
    }
  }
}

@media (min-width:1440px) {
  .dwallpaper {
    &_image {
      img {
        transform: scale(1.25);
        bottom: 70px;
      }
    }
    &_text {
      padding: 30px 60px 30px 90px;
      &:before {
        width: 100%;
      }
    }
  }
}
@media (min-width:1600px) {
  .dwallpaper {
    &_image {
      img {
        transform: scale(1.1);
        bottom: 22px;
      }
    }
  }
}
@media (max-width: 1399.98px) {
  #unitsGallery {
    width: 70%;
  }
}
@media (max-width: 1199px){
  .dwallpaper {
    background-image: none;
    background-color: white;
    padding: 8vh 0;
    &_text{
      padding: 0 15px;
    }
    &_table {
      display: flex;
      flex-direction: column;
      padding-top: 9px;
      background-color: $whiteunit;
      padding-bottom: 10px;
      text-align: center;
      .line {
        width: 100%;
      }
      .uline{
        display: none;
      }
    }
    .button {
      text-align: center;
      margin-top: 20px;
    }
    .l-text {
      justify-content: space-evenly;
      margin-bottom: 0;
    }
  }
  #unitsGallery {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  #unitsI{
    margin-top: 0;
  }
  #advance {
    #lightgallery {
      .swiper-pagination {
        display: block;
      }
    }
  }
  #unitII {
    padding-top: 0;
  }
}
@media (max-width: 991.98px) {
  .dwallpaper{
    padding-bottom: 0;
    &_logo-munich{
      max-width: 150px;
    }
    .logos{
      margin-bottom: 20px;
    }
  }
  #location {
    .display-6 {
      margin-bottom: 27px;
    }
    .ptext{
      text-align: center;
    }
    .ulist {
      margin-top: 45px;
    }
    .mlocation {
      span{
        font-size: calc(0.4vw + 0.35rem);
      }
    }
  }
  #unitsI {
    margin-top: 20px;
    .wunits:after {
      width: 100vw;
      background-size: cover;
      background-position: bottom;
      height: 100%;
      max-height: 500px;
      top: 25%;
      background-image: url(../../assets/images/unidades/fondo-umobile.png);
    }
    .wunits{
      padding-top: 0;
      position: relative;
      padding-bottom: 50%;
        img.uright {
          position: absolute;
          margin-left: auto;
          width: 100%;
          right: 0;
          max-width: 650px;
          z-index: 0;
          top: 40%;
        }
    }
    .ptext {
      padding-left: calc(70px - 30px);
      width: 100%;
    }
  }
  #unitII{
    text-align: center;
    padding-top: 30%;
  }

  #amenitiesI{
    margin: 0;
    padding: 0;
    .camenit {
      padding-top: 60px;
      padding-bottom: 50px;
      &:after {
        width: 100vw;
        background-size: cover;
        height: 100%;
        max-height: 450px;
        background-image: url(../../assets/images/amenities/fa-m.png);
        background-position: bottom;
        top: 0;
        transform: none;
      }
      .aright {
        width: 100%;
        max-width: 600px;
        margin-left: auto;
      }
    }
  }
  #typology{
    .mbg{
      background-size: cover;
      height: 100vh;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      &.mbg1{
        background-image: linear-gradient(90deg, #00000096 0%, #00000000 60%, #00000000 100%), url(../../assets/images/tipologias/monoambiente.jpg);
      }
      &.mbg2{
        background-image: linear-gradient(90deg, #00000096 0%, #00000000 60%, #00000000 100%), url(../../assets/images/tipologias/1dormitorio.jpg);
      }
    }
    .swiper {
      width: 100%;
      height: 100%;
      .swiper-slide {
        flex-direction: column;
      }
      .swiper-button-prev {
        top: 90%;
        left: 70%;
      }
      .swiper-button-next {
        top: 90%;
        right: 5%;
      }
    }
    .modal {
      .modal-content {
        .modal-body {
          .item {
            display: grid;
            grid-template-columns: auto;
            column-gap: 0;
            row-gap: 20px;
          }
          .owl-carousel {
            display: block;
            padding: 0 35px;
            .owl-item img {
              width: 100%;
              max-width: 300px;
              left: 0;
              right: 0;
              margin-left: auto;
              margin-right: auto;
            }
          }
        }
      }
    }
    .mTypology{
      background-image: url(../../assets/images/tipologias/ft-mobile.png);
      height: 40vh;
      width: 100%;
      background-position: left center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  #unitsGallery {
    padding-top: 8vh;
    padding-bottom: 8vh;
  }
  #amenitiesIII{
    .col-am{
      display: grid;
      grid-template-columns: 1fr 1fr;
      .am{
        img {
          margin-bottom: 20px;
          margin-top: 15px;
        }
      }
    }
    .fancyImgBox {
      grid-template-columns: 1fr;
      grid-row-gap: 70px;
    }
  }
  #advance{
    padding: 50px 0;
  }
  #project {
    img.psolare {
      display: none;
    }
  }
  #aboutUs{
    #continents{
      img.logo {
        width: 50%;
        margin-bottom: 50px;
      }
      .col-12.col-lg-4 {
        text-align: center;
      }
      .seeMore {
        text-align: center;
      }
    }
  }
  #aboutUsv{
    #ventus{
      .footer{
        display: flex;
        flex-direction: column;
        justify-content: end;
        margin: 30px 0;
      }
      img.logo {
        width: 50%;
        margin-bottom: 50px;
      }
      .col-12.col-lg-4 {
        text-align: center;
      }
      .seeMore {
        text-align: center;
        display: block;
        .red {
          margin-left: auto;
          margin-top: 40px;
          img {
            max-width: 80px;
            padding-right: 10px;
            padding-left: 10px;
          }
        }
      }
    }
  }
  #aboutUsc{
    #cesio{
      img.logo {
        width: 50%;
        margin-bottom: 50px;
      }
      .col-12.col-lg-4 {
        text-align: center;
      }
      .seeMore {
        text-align: center;
      }
    }
  }
  #stext {
    padding-top: 30px;
  }
  #contact .formCol2 {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  #unitsI{
    .wunits{
      img.uright {
        top: 40%;
        max-width: 550px;
      }
    }
  }
  #typology{
    .modal {
     .modal-content .modal-body .item .mcol-right img.gref {
        width: 100%;
        max-width: 250px;
      }
    }
  }
  #unitsGallery {
    padding: 20px 0;
    .container {
      max-width: 100%;
      .col-12 {
        padding: 0;
      }
    }
    .gallery-thumbs {
      display: none;
    }
  }
  #project{
    .ititle {
      flex-direction: column;
      img {
        margin-bottom: 20px;
      }
    }
  }
  #projectUs {
    .footer {
      margin-top: 45px;
      flex-direction: column;
    }
    .footer p:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  #advance {
    h1.title {
      margin-bottom: 30px;
    }
    #lightgallery {
      margin-top: 30px;
    }
    .tline {
      img {
        width: 90%;
      }
    }
    .aline {
      width: 100%;
      .item {
        img {
          width: auto;
          height: 38px;
          margin: 20px auto 10px;
        }
      }
    }
  }
  #unitII {

    .footer {
      flex-direction: column;
      .unitp {
        margin-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
        canvas#myChar {
          display: none;
        }
      }
      .unitText {
        text-align: center;
        margin: 0 auto;
        h3, p {
          text-align: center;
        }
      }
    }
  }
  #amenitiesI {
   .camenit .aright {
      max-width: 500px;
    }
  }
}
@media (max-width: 576px) {
  #unitsI {
    .wunits {
      padding-bottom: 100%;
      img.uright {
        top: 50%;
        max-width: 550px;
      }
    }
  }
  #unitII{
     padding-top:40%;
  }
  #amenitiesI {
    .camenit{
      img.aright {
        max-width: 400px
      }
    }
  }
  #advance {
    h5 {
      font-size: .8rem;
    }
  }
  .dwallpaper {
    .l-text {
      .text {
        font-size: .6rem;
      }
    }
  }
  .dwallpaper_table {
    width: calc(100% + 30px);
    margin-left: -15px;
  }
}
@media (max-width: 425px){
  #unitII {
     padding-top: 10%;
  }
}
