/*-----------------------Descripcion-----------------------*/
.dwallpaper {
  background-image: url(../../assets/images/fondo-d.png);
  padding: 12% 10%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  margin-top: -10px;
  &_image {
    position: relative
  }
  &_text {
    padding: 30px 25px;
    background: #fff;
    position: relative;
  }
  &_logo-munich{
    width: 40%;
    margin-bottom: 34px;
  }
  p{
    color: $text-black;
  }
  .text1{
    font-weight: 400;
  }
  .text2{
    font-weight: 700;
  }
  &_table{
    display: flex;
    flex-direction: row;
    column-gap: 60px;
    .line{
      background-color: #d6d6d6;
      height: 1px;
      width: 110%;
      margin-bottom: 1rem;
    }
  }
  .btn.btn-primary {
    background-color: #005170;
    border-color: #005170;
    border-radius: 48px;
    padding: 8px 40px;
    color: $white;
    font-size: 1rem;
    font-weight: 700;
  }
  .btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus{
    background-color: #002938!important;
    border-color: #002938!important;
    box-shadow: none!important;
  }

  .l-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 40px;
    .text{
      font-size: 1rem;
      color:$black;
    }
  }
  .logos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
    .log img{
      width: 80%;
    }
  }
}
/*-----------------------Ubicación-----------------------*/
#location{
  margin-bottom: 100px;
  .container {
    position: relative;
    z-index: 2;
  }
  h2{
    color:#005170;
  }
  .display-6{
    font-weight: 900;
    text-align: center;
    margin-bottom: 90px;
    color: #005170;
  }
  .titleII{
    font-weight: 700;
    color: #005170;
  }
  h3, h5{
    color: $text-black;
    font-weight: 400;
  }
  h5{
    margin-top: 15px;
  }
  a{
    font-weight: 700;
    font-size: 1.5rem;
    color: $text-black;
  }
  a:hover{
    text-decoration: none;
    color: black;
  }
  .ulist{
    margin-top: 100px;
    .list {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 25px;

      h4{
        color: #000000;
      }
      img {
        width: 45px;
        padding-right: 20px;
      }
    }
  }
  .mlocation{
    margin-bottom: auto;
    position: absolute;
    right: 0;
    transition: all .2s ease;
    top: 22%;
    max-width: 900px;
    width: 65%;
    img {
      right: 0;
      width: 100%;
    }
  }

  .university{
    opacity:0;
    span{
      background-color: #005270;
      color: white;
      max-width: 120px;
      line-height: 1.25;
      display: inline-block;
      text-align: end;
      padding: 4px 10px 1px 5px;
      font-weight: 700;
      font-size: 0.7rem;
      position: absolute;
      &:first-child{
        bottom: 38%;
        left: 4%;
      }
      &:nth-child(2){
        top: 26%;
        left: 42%;
      }
      &:nth-child(3){
        top: 30%;
        right: 41%;
      }
      &:nth-child(4){
        top: 50%;
        right: 40%;
      }
      &:nth-child(5){
        bottom: 16%;
        left: 37%;
      }
      &:nth-child(6){
        top: 19%;
        right: 22%;
      }
      &:nth-child(7){
        top: 28%;
        right: 8%;
      }
      &:last-child{
        top: 46%;
        right: 10%;
      }
    }
  }
  .sites-public{
    opacity: 0;
    span{
      background-color: #04a9cc;
      color: white;
      max-width: 90px;
      line-height: 1.25;
      display: inline-block;
      text-align: end;
      padding: 4px 10px 1px 5px;
      font-weight: 700;
      font-size: 0.7rem;
      position: absolute;
      &:first-child{
        bottom: 16%;
        left: 7%;
      }
      &:nth-child(2){
        bottom: 17%;
        left: 28%;
      }
      &:nth-child(3){
        bottom: 39%;
        left: 15%;
      }
      &:nth-child(4){
        bottom:42%;
        right: 31%;
      }
      &:nth-child(5){
        bottom:3%;
        right: 24%;
      }
      &:last-child{
        bottom:42%;
        right: 15%;
      }
    }
  }
  .clubs{
    opacity: 0;
    span{
      background-color: #007a96;
      color: white;
      line-height: 1.25;
      display: inline-block;
      text-align: end;
      padding: 4px 10px 1px 5px;
      font-weight: 700;
      font-size: 0.7rem;
      position: absolute;
      &:first-child{
        top: 13%;
        right: 45%;
      }
      &:last-child{
        top: 3%;
        right: 37%;
      }
    }
  }
  .banks{
    opacity: 0;
    span{
      background-color: #a3dfe9;
      color: white;
      line-height: 1.25;
      display: inline-block;
      max-width: 50px;
      text-align: end;
      padding: 4px 10px 1px 5px;
      font-weight: 700;
      font-size: 0.7rem;
      position: absolute;
      &:first-child{
        bottom: 23%;
        left: 17%;
      }
      &:nth-child(2){
        bottom: 36%;
        right: 29%;
      }
      &:last-child{
        top: 30%;
        right: 0.5%;
      }
    }
  }
}
/*-----------------------Unidades I-----------------------*/
#unitsI{
  background: linear-gradient(to bottom, rgba(250,250,250,0.1) 0%, rgba(248,248,248,0.1) 51%, rgba(248,248,248,1) 53%, rgba(247,247,247,1) 100%);
  z-index: 1;
  .wunits{
    padding: 60px 0;
    position: relative;
  }
  .wunits:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 65vh;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    background-image: url(../../assets/images/unidades/fondo-udesktop.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 100%;
  }
  h2, p{
    color: $white;
  }
  h2 {
    font-weight: 700;
  }
  p {
    font-weight: 400;
  }
  img.uright {
    position: absolute;
    right: 0;
    width: 35vw;
    z-index: 0;
    bottom: -39%;
  }

}
/*-----------------------Unidades II-----------------------*/
#unitII{
  background-color: #F7F7F7;
  h5{
    color: $text-black;
    font-weight: 400;
  }
  .display-5{
    font-weight: 700;
    color: #005170;
  }
  .download {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 15px;
    .down {
      width: 15px;
      margin-right: 10px;
    }
    .zoom{
      width: 25px;
      margin-left: 20px;
      transform: translateY(-3px);
    }
    a{
      text-decoration: none;
      font-size: 1rem;
      font-weight: 500;
      color: #0E436F;
    }
  }
  .footer{
    text-align: center;
    .unitf {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      column-gap: 50px;
      margin-top: 90px;
      margin-bottom: 30px;
      .unitp{
        display: flex;
        flex-direction: row;
        align-items: center;
        canvas#myChart {
          width: 170px!important;
          height: auto!important;
          margin-right: -25px;
        }
        img.porcentage{
          width: 80px;
          padding-right: 20px;
        }
        .titleFoo {
          margin-bottom: 0;
          font-weight: 700;
          text-align: start;
        }
      }
      .unitText{
        h3{
          color: $text-black;
          font-style: italic;
          text-align: start;
        }
        h5{
          font-weight: 700;
          text-align: start;
        }
      }
    }
    .btn.btn-primary {
      background-color: #005170;
      border-color: #005170;
    }
    .btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
      background-color: #022938 !important;
      border-color: #022938 !important;
    }
  }
}
/*-----------------------Tipologias-----------------------*/
#typology{
  background-image: url(../../assets/images/tipologias/monoambiente.jpg);
  background-size: cover;
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .display-5{
    font-weight: 500;
    color: $white;
  }
  .display-2{
    color: $white;
    font-weight: 900;
    margin-bottom: 20px;
  }
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 80px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    /* Modal Content */
    .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 60%;
      border-radius: 50px;
      /* The Close Button */
      .close {
        color: $white;
        float: right;
        font-size: 5px;
        font-weight: bold;
        margin-left: auto;
        margin-right: 40px;
      }
      .close:hover, .close:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;
      }
      .modal-body{
        .item{
          display: grid;
          grid-template-columns: 40% auto;
          column-gap: 25px;
          .mcol-left{
            h1, h4, .display-6{
              color: #005170;
            }
            .display-6{
              font-weight: 900;
            }
            h4{
              font-weight: 700;
              margin-bottom: 15px;
            }
            div.line{
              border-bottom: 1px solid;
              color: #e0dadc;
              width: 70%;
              margin: 10px 0;
            }
            p{
              color: $text-black;
              margin-bottom: 10px;
            }
            img.pref {
              margin-top: 20px;
              width: 90%;
            }
          }
          .mcol-right{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img.gref {
              width: 100%;
            }
          }
        }
        .owl-carousel {
          display: block;
          padding: 0 62px;
          .owl-dots {
            display: none;
          }
          button:focus {
            outline: none;
          }
          .owl-prev {
            width: 40px;
            height: 40px;
            position: absolute;
            top: 40%;
            left: 1%;
            span {
              line-height: 20px;
              transform: translate(-30px, -2px);
            }
          }
          .owl-next {
            width: 40px;
            height: 40px;
            position: absolute;
            top: 40%;
            right: 1%;
            span {
              line-height: 20px;
              transform: translate(30px, -2px);
            }
          }
          .owl-nav [class*=owl-] {
            font-size: 60px !important;
            display: flex;
            top: 0;
            bottom: 0;
            margin-bottom: auto;
            margin-top: auto;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #005170 !important;
          }
          .owl-nav [class*=owl-]:hover {
            background:none;
            text-decoration: none;
          }
        }
      }
    }
  }
}
#typology:after{
  position:absolute;
  content: "";
  background-image: url(../../assets/images/tipologias/ft-desktop.png);
  width: 32%;
  height: 100%;
  z-index: -1;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
}
/*---------------------------unidades-galeria-----------------------------*/
#unitsGallery{
  margin-left: auto;
  margin-right: auto;
  padding-top: 12vh;
  padding-bottom: 10vh;
  .gallery-thumbs {
    margin-top: 30px;
    .swiper-slide:hover {
      cursor: pointer;
    }
  }
  .gallery-top{
    .swiper-slide{
      img{
        width: 100%;
      }
    }
  }
}

/*----------------------Amenities-I--------------------------------*/
#amenitiesI{
  .camenit{
    padding: 60px 0;
    position: relative;
  }
  .camenit:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 65vh;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    background-image: url(../../assets/images/amenities/fa-d.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 100%;
  }

  // img.aleft {
  //   z-index: -1;
  //   position: absolute;
  //   height: 100%;
  // }

  img.aright {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 30%;
    max-width: 650px;
  }

    .col-right {
      margin-left: auto;
      h4, .display-6{
        color: $white;
      }
      .display-6{
        font-weight: 700;
      }
      h4{
        font-weight: 400;
      }
    }
  // }
  .atext {
    margin-left: auto;
      h4{
        color: $text-black;
        font-weight: 400;
      }
    }

}
/*----------------------Amenities-I (text-inferior)--------------------------------*/
#stext{
  padding-top: 0;
  .atext{
    margin-left: auto;
  }
  h5 {
    color: $text-black;
  }
}
/*----------------------Amenities-II (imagen)--------------------------------*/
#bamenities{
  background-image: url(../../assets/images/galeria/gal2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#amenitiesIII{
  .col-am{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 100px;
    .am{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      img {
        width: 50%;
      }
      h5{
        color: #000000;
        font-weight: 400;
        text-align: center;
        margin-top: 32px;
      }
    }
  }

  .fancyImgBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px;
    margin-top: 40px;
    margin-bottom: 70px;
    text-align: center;
    .fancyBox{

      .fancyImgItem{
        .thumbnail {
          -webkit-transition: ease-in-out 0.5s;
          transition: ease-in-out 0.5s;
          width: 80%;
          margin-bottom: 50px;
        }
      }
      .fancyImgItem:hover img.thumbnail {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        -webkit-transition: ease-in-out 0.5s;
        transition: ease-in-out 0.5s;
      }
          .information {
        .titleFancyBox{
          color: #000000;
          font-weight: 400;
          margin-bottom: 30px;
        }
        .btn.btn-primary {
          background-color: #005170;
          border-color: #005170;
        }
        .btn.btn-primary:hover, #unitII .footer .btn.btn-primary:active, #unitII .footer .btn.btn-primary:focus {
          background-color: #022938 !important;
          border-color: #022938 !important;
        }
      }
    }
  }
}

/*----------------------------ADVANCE------------------------------*/
#advance{
  background-color: #F7F7F7;
  .title{
    text-align: center;
    margin-bottom: 55px;
    color: $text-black;
    font-weight: 700;
    font-size: 2.5rem;
  }
  .tline{
    text-align: center;
    img{
      width: 60%;
    }
  }
  .aline{
    display: grid;
    grid-template-columns: 20% 30% 50%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    .item{
      text-align: center;
      h5{
        color: #4D4D4D;
      }
      img{
        width: 100%;
        height: 100px;
        margin-top: 25px;
        margin-bottom: 10px;
        max-width: 80px;
      }
    }
    .item.finish {
      display: flex;
      flex-direction: column;
      margin-left: auto;
      img.finish {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  #lightgallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1%;
    margin-top: 90px;
    a{
      overflow: hidden;
      position: relative;
    }
    a img {
      transition: all .5s ease;
      width: 100%;
    }
    a span {
      left: 15px;
      top: 15px;
      position: absolute;
      z-index: 2;
      color: #fff;
      background: #005170;
      padding: 5px 24px;
      border-radius: 30px;
      box-shadow: 0 3px 6px #00000030;
      font-size: 0.75rem;
      font-weight: 700;
    }
     a:hover img {
      transform: scale(1.07);
    }
    .swiper-wrapper {
      padding-bottom: 30px;
    }
    .swiper-pagination {
      display: none;
      bottom: 0;
    }
}
  .cswiper{
    margin-top: 50px;
    .swiper {
      width: 100%;
      height: 100%;
      .swiper-slide {
        span{
          left: 15px;
          top: 15px;
          position: absolute;
          z-index: 2;
          color: #fff;
          background: #005170;
          padding: 5px 24px;
          border-radius: 30px;
          box-shadow: 0 3px 6px #00000030;
          font-size: 0.75rem;
          font-weight: 700;
        }
        img.imgswiper {
          display: block;
          height: 340px;
          width: 100%;
          object-fit: cover;
        }
      }
      .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 50px !important;
      }
      .swiper-pagination-bullet-active {
        background: #7C7C7C !important;
      }
    }
  }

}
/*----------------------------------Project-----------------------------*/
#project{
  text-align: center;
  .text{
    color: #000000C9;
  }
  .ititle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
    .title{
      color: #000000C9;
    }
    img{
      width: 6%;
      padding-right: 20px;
    }
  }
  img.logo-ventus {
    width: 100%;
    margin-top: 100px;
    max-width: 220px;
  }
  img.psolare {
    width: 30%;
    position: absolute;
    right: 0;
    bottom: -40px;
    z-index: -1;
  }
}

/*---------------------------ProjectUs-----------------------------*/
#projectUs {
  background-image: url(../../assets/images/bigdata/fbigdata.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  p, u{
    color: $white;
  }
  .title{
    font-weight: 900;
    margin-bottom: 30px;
    color: $white;
    font-size: 2rem;
  }

  .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 60px;
    p {
      margin-bottom: 0;
      margin-right: 10px;
      font-size: 1rem;
    }
     img {
      height: 33px;
    }
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 123px;
    p {
      margin: 0;
      line-height: 1.5rem;
    }
    span{
        font-weight: 700;
        font-size: 2.5rem;
      }
  }
}
/*---------------------------Contact----------------------------*/
 #contact {
    padding: 45px 0;
    .title{
      font-weight: 700;
      margin-bottom: 43px;
    }
    img.imgbg {
      display: none;
    }
    p.h1 {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      font-size: 1.7rem;
      margin-bottom: 30px;
      img {
        width: 38px;
        margin-right: 15px;
      }
    }
    p.h3 {
      margin-bottom: 10px;
    }
    form#contactForm {
      margin-bottom: 15px;
      width: 90%;
      .form-floating {
        margin-bottom: 12px;
      }
      .btn.btn-primary {
        background-color: #005170;
        border-color: #005170;
      }
      .btn.btn-primary:hover, #unitII .footer .btn.btn-primary:active, #unitII .footer .btn.btn-primary:focus {
        background-color: #022938 !important;
        border-color: #022938 !important;
      }
    }
    .formCol2{
      display: flex;
      flex-direction: column;
      justify-content: center;
      p.h3.strong {
        font-size: 20px;
        font-weight: 500;
      }
      h5{
        font-weight: 400;
      }
      h5.strong.fw-bold {
        margin-bottom: 37px;
      }
      a img {
        width: 45px;
        margin-right: 20px;
      }
      .whatsapp {
        font-size: 28px;
        display: flex;
        flex-direction: initial;
        align-items: center;
        margin-bottom: 20px;
      }
    }
  }
/*-----------------------------About-Us----------------------------*/
#aboutUs {
  .divider {
    width: 100%;
    margin: 40px auto 70px;
  }
  img.logo {
    width: 80%;
  }
  #building{
    .twoImages{
      background-image: url(../../assets/images/nosotros/continents-nosotros.jpg);
      height: 400px;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  #continents{
    margin-top: 50px;
  }
}
#aboutUsv{
  background-color: #F7F7F7;
  img.logo {
    width: 80%;
  }
  #ventus{
    div.twoImages img:not(.logo) {
      width: 100%;
      margin-bottom: 30px;
    }
    .footer{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 30px 0;
      column-gap: 15px;
    }
  }
}
#aboutUsc{
  img.logo {
    width: 80%;
  }
  #cesio{
    margin-top: 50px;
  }
}

@media (min-width:1024px){}
@media (min-width:1200px) {
  .dwallpaper {
    &_image {
      img {
        transform: scale(1.6);
        position: absolute;
        bottom: 160px;
        z-index: 1;
        right: 0;
      }
    }
    &_text {
      padding: 30px 0px 30px 135px;
      &:before {
        content: '';
        position: absolute;
        height: 100%;
        background: #fff;
        z-index: -1;
        width: 135%;
        left: -20%;
        top: 0;
        box-shadow: 146px 7px #00000021;
      }
    }
  }
  #amenitiesI{
    .aright {
      position: absolute;
      z-index: 0;
      top: 0%;
      left: 0;
      width: 30%;
    }
  }
}

@media (min-width:1260px) {
  .dwallpaper {
    &_image {
      img {
        transform: scale(1.5);
        bottom: 145px;
      }
    }
    &_text {
      padding: 30px 0px 30px 135px;
      &:before {
        width: 130%;
        left: -20%;
      }
    }
  }
}

@media (min-width:1330px) {
  .dwallpaper {
    &_image {
      img {
        transform: scale(1.35);
        bottom: 105px;
      }
    }
  }
}

@media (min-width:1440px) {
  .dwallpaper {
    &_image {
      img {
        transform: scale(1.25);
        bottom: 70px;
      }
    }
    &_text {
      padding: 30px 60px 30px 90px;
      &:before {
        width: 100%;
      }
    }
  }
}
@media (min-width:1600px) {
  .dwallpaper {
    &_image {
      img {
        transform: scale(1.1);
        bottom: 22px;
      }
    }
  }
  #amenitiesI img.aright {
    top: -18px;
    width: 37%;
    left: 0;
    max-width: 100%;
  }
}
@media (max-width:1599px) {

}
@media (max-width: 1399.98px) {
  #unitsGallery {
    width: 55%;
  }
}
@media (max-width: 1199px){
  .dwallpaper {
    background-image: none;
    background-color: white;
    padding: 8vh 0;
    &_table {
      display: flex;
      flex-direction: column;
      padding-top: 9px;
      background-color: #F7F7F7;
      padding-bottom: 10px;
      text-align: center;
      .line {
        background-color: #d6d6d6;
        width: 100%;
      }
      .uline{
        display: none;
      }
    }
    .button {
      text-align: center;
      margin-top: 20px;
    }
    .l-text {
      justify-content: space-evenly;
    }
    .logos {
      justify-content: space-evenly;
    }
  }
  #unitsI {
    margin: 0;
    .wunits:after {
      width: 100vw;
      background-size: cover;
      height: 450px;
      background-image: url(../../assets/images/unidades/fondo-umobile.png);
    }
    .col-lg-7 {
      padding-left: calc(70px - 30px);
    }
    .col-lg-5 {
      padding: 0;
      padding-top: 0%;
      margin-left: 10%;
      transform: scale(0.8);
    }
  }
  #unitsGallery {
    width: 100%;
  }
  #amenitiesI{
    margin: 0;
    .camenit:after {
      width: 100vw;
      background-size: cover;
      height: 450px;
      background-image: url(../../assets/images/amenities/fa-m.png);
    }
    .col-right {
      margin-left: initial;
      width: 100%;
    }
    img.aright {
      position: absolute;
      top: 70%;
      left: auto;
      right: 0;
      width: 50%;
    }
  }
  #stext {
    padding-top: 40vh;
    .atext {
      margin-left: initial;
      width: 100%;
    }
  }

}
@media (max-width: 1023px) {

}
@media (max-width: 992px) {
  #dwallaper{
    padding-bottom: 0;
    .logos{
      margin-bottom: 20px;
    }
  }
  #location {
    .ulist {
      margin-top: 45px;
      .list img {
        width: 8%;
        padding-right: 20px;
      }
    }
    .img-fluid {
      width: 100%;
      height: auto;
      right: 0;
      bottom: 0;
    }
  }
  #mtypology{
    background-image: url(../../assets/images/tipologias/monoambiente.jpg);
    background-size: cover;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
  }
  #typology{
    background-image: url(../../assets/images/tipologias/ft-mobile.png);
    height: 35vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .modal {
      .modal-content {
        .modal-body {
          .item {
            display: grid;
            grid-template-columns: auto;
            column-gap: 0;
            row-gap: 20px;
          }
          .owl-carousel {
            display: block;
            padding: 0 35px;
          }
        }
      }
    }
  }
  #typology:after{
    content: none;
  }
  #unitsGallery {
    padding-top: 8vh;
    padding-bottom: 8vh;
  }
  #amenitiesIII{
    .col-am{
      display: grid;
      grid-template-columns: 1fr 1fr;
      .am{
        img {
          width: 50%;
        }
      }
    }
    .fancyImgBox {
      grid-template-columns: 1fr;
      grid-row-gap: 70px;
    }
  }
  #project {
    img.psolare {
      display: none;
    }
  }
  #aboutUs{
    #continents{
      img.logo {
        width: 50%;
        margin-bottom: 50px;
      }
      .col-12.col-lg-4 {
        text-align: center;
      }
      .seeMore {
        text-align: center;
      }
    }
  }
  #aboutUsv{
    #ventus{
      .footer{
        display: flex;
        flex-direction: column;
        justify-content: end;
        margin: 30px 0;
      }
      img.logo {
        width: 50%;
        margin-bottom: 50px;
      }
      .col-12.col-lg-4 {
        text-align: center;
      }
      .seeMore {
        text-align: center;
      }
    }
  }
  #aboutUsc{
    #cesio{
      img.logo {
        width: 50%;
        margin-bottom: 50px;
      }
      .col-12.col-lg-4 {
        text-align: center;
      }
      .seeMore {
        text-align: center;
      }
    }
  }
  #stext {
    padding-top: 500px;
  }
}

@media (max-width: 1024px) {
  #advance {
    #lightgallery {
      .swiper-pagination {
        display: block;
      }
    }
  }
  #unitsI{
    img.uright {
      width: 88vw;
      top: 280px;
    }
  }
  #unitII {
    padding-top: 650px;
  }
  #amenitiesI{
    img.aright {
      width: 600px;
      top: 230px;
    }
  }
}
@media (max-width: 768px) {
  #unitsGallery {
    padding: 8vh 0;
    .container .col-12 {
      padding: 0;
    }
    .gallery-thumbs {
      display: none;
    }
  }
  #projectUs {
    padding: 45px 0;
    .logo {
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .footer {
      margin-top: 45px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .footer p:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  #advance {
    h1.title {
      margin-bottom: 30px;
    }
    #lightgallery {
      margin-top: 30px;
    }
    .tline {
      img {
        width: 90%;
      }
    }
    .aline {
      width: 100%;
      .item {
        img {
          width: auto;
          height: 38px;
          margin: 20px auto 10px;
        }
      }
    }
  }
  #unitII {
    padding-top: 560px;
    .footer {
      .unitf {
        flex-direction: column;
        .unitp {
          margin-bottom: 15px;
          canvas#myChar {
            display: none;
          }
        }
        .unitText {
          h3, p {
            text-align: center;
          }
        }
      }
    }
  }
  #amenitiesI {
    img.aright {
      width: 500px;
      top: 230px;
    }
  }

  #stext {
    padding-top: 350px;
  }
}
@media (max-width: 576px) {
  #amenitiesI {
    img.aright {
      width: 400px;
      top: 350px;
    }
  }
  section#stext {
    padding-top: 370px;
  }
  #unitsI {
    img.uright {
      right: 0;
      width: 88vw;
      z-index: 0;
      top: 340px;
    }
  }
  #unitII {
    padding-top: 260px;
  }
  #advance {
    .aline {
      .item {
        h5 {
          font-size: .8rem;
        }
      }
    }
  }
  #projectUs{
    font-size: 1.5rem;
  }
}

@media (max-width: 376px) {
  #unitII {
    padding-top: 200px;
  }
}
