.dwallpaper {
  background-image: url(../../assets/images/fondo-d.png);
  padding: 12% 10%;
  z-index: -1;
  margin-top: -10px;
  &_image {
    position: relative
  }
  &_text {
    padding: 30px 25px;
    background: #fff;
    position: relative;
  }
  &_logo-munich{
    width: 40%;
    margin-bottom: 34px;
  }
  p{
    color: #494846;
  }
  .text1{
    font-weight: 400;
  }
  .text2{
    font-weight: 700;
  }
  &_table{
    display: flex;
    flex-direction: row;
    column-gap: 60px;
    .line{
      background-color: #d6d6d6;
      height: 1px;
      width: 110%;
      margin-bottom: 1rem;
    }
  }
  .btn.btn-primary {
    background-color: #005170;
    border-color: #005170;
    border-radius: 48px;
    padding: 8px 40px;
    color: $white;
    font-size: 1rem;
    font-weight: 700;
  }
  .btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus{
    background-color: #002938!important;
    border-color: #002938!important;
    box-shadow: none!important;
  }

  .l-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 40px;
    .text{
      font-size: 1.125rem;
      color:$black;
    }
  }
  .logos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
    .log img{
      width: 80%;
    }
  }
}

#location{
  h2{
    color:#005170;
  }
  .display-4{
    font-weight: 900;
    text-align: center;
    margin-bottom: 90px;
  }
  .titleII{
    font-weight: 700;
  }
  h3, h4{
    color: #494846;
    font-weight: 400;
  }
  a{
    font-weight: 700;
    font-size: 2rem;
  }
  .ulist{
    margin-top: 145px;
    .list {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 50px;
      img {
        width: 12%;
        padding-right: 20px;
      }
    }
  }
  .mlocation{
    margin-bottom: auto;
    transform: scale3d(1, 1.2, 1);
    position: relative;
    .tmunich{
      position: absolute;
      z-index: 10000;
      right: 26%;
      width: 10%;
      bottom: 58%;
    }
  }

}
#unitsI{
  margin: 10vh 0;
  .wunits{
    // background-image: url(../../assets/images/unidades/fondo-udesktop.png);
    // padding-top: 10vh;
    position: relative;
  }
  .wunits:after{
    position:absolute;
    content: "";
    width: 98vw;
    height: 65vh;
    top: 0;
    z-index: -1;
    background-image: url(../../assets/images/unidades/fondo-udesktop.png);
  }
  .col-lg-5{
    padding: 0;
    padding-top: 6%;
    transform: scale3d(1, 1.2, 1);
}
.col-lg-7 {
    // padding-top: 7%;
    padding-left: calc(10% - 30px);
}
  h1, h3{
    color: $white;
  }
  .display-4{
    font-weight: 700;
    padding-top: 100px;
  }
  h3{
    font-weight: 400px;
  }
  img.uright {
    // position: absolute;
    // width: 45%;
    // right: 0;
    // top: 8px;
  }
}
#unitII{
  h3{
    color: #494846;
    font-weight: 400;
  }
  .display-4{
    font-weight: 700;
  }
  .download {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 15px;
    .down {
      width: 15px;
      margin-right: 10px;
    }
    .zoom{
      width: 25px;
      margin-left: 20px;
      transform: translateY(-3px);
    }
    a{
      text-decoration: none;
      font-size: 1rem;
      font-weight: 500;
      color: #0E436F;
    }
  }
  .footer{
    text-align: center;
    .unitf {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      column-gap: 50px;
      margin-top: 90px;
      margin-bottom: 30px;
      .unitp{
        display: flex;
        flex-direction: row;
        align-items: center;
        img.porcentage{
          width: 80px;
          padding-right: 20px;
        }
        .titleFoo {
          margin-bottom: 0;
          font-weight: 700;
          text-align: start;
        }
      }
      .unitText{
        h3{
          color: #494846;
          font-style: italic;
          text-align: start;
        }
        p{
          font-weight: 700;
          text-align: start;
        }
      }
    }
    .btn.btn-primary {
      background-color: #005170;
      border-color: #005170;
    }
    .btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
      background-color: #022938 !important;
      border-color: #022938 !important;
    }
  }
}
@media (min-width:1200px) {
  .dwallpaper {
    &_image {
      img {
        transform: scale(1.6);
        position: absolute;
        bottom: 160px;
        z-index: 1;
        right: 0;
      }
    }
    &_text {
      padding: 30px 0px 30px 135px;
      &:before {
        content: '';
        position: absolute;
        height: 100%;
        background: #fff;
        z-index: -1;
        width: 135%;
        left: -20%;
        top: 0;
      }
    }
  }
  #unitsI{
    // .wunits:after {
    //   position: absolute;
    //   content: "";
    //   width: 99vw;
    //   height: 35vh;
    //   top: 0;
    //   z-index: -1;
    //   background-image: url(../../assets/images/unidades/fondo-udesktop.png);
    // }
    // .display-4 {
    //   padding-top: 100px;
    // }
    // .col-xxl-5 {
    //   padding: 0;
    //   padding-top: 0%;
    //   margin-left: 10%;
    //   transform: scale(0.8);
    // }
  }
}

@media (min-width:1260px) {
  .dwallpaper {
    &_image {
      img {
        transform: scale(1.5);
        bottom: 145px;
      }
    }
    &_text {
      padding: 30px 0px 30px 135px;
      &:before {
        width: 130%;
        left: -20%;
      }
    }
  }
}

@media (min-width:1330px) {
  .dwallpaper {
    &_image {
      img {
        transform: scale(1.35);
        bottom: 105px;
      }
    }
  }
}

@media (min-width:1440px) {
  .dwallpaper {
    &_image {
      img {
        transform: scale(1.25);
        bottom: 70px;
      }
    }
    &_text {
      padding: 30px 60px 30px 90px;
      &:before {
        width: 100%;
      }
    }
  }

  #unitsI {
    img.uright {
      // position: absolute;
      // width: 58%;
      // right: 0;
      // top: 5px;
    }
  }
}
@media (min-width:1600px) {
  .dwallpaper {
    &_image {
      img {
        transform: scale(1.1);
        bottom: 22px;
      }
    }

  }
}
@media (max-width: 1199px){
  .dwallpaper {
    background-image: none;
    background-color: white;
    padding: 8vh 0;
    &_table {
      display: flex;
      flex-direction: column;
      padding-top: 9px;
      background-color: #F7F7F7;
      padding-bottom: 10px;
      text-align: center;
      .line {
        background-color: #d6d6d6;
        width: 100%;
      }
      .uline{
        display: none;
      }
    }
    .button {
      text-align: center;
      margin-top: 20px;
    }
    .l-text {
      justify-content: space-evenly;
    }
    .logos {
      justify-content: space-evenly;
    }
  }
    #unitsI {
    margin: 0;
    .wunits:after {
      width: 100vw;
      height: 35vh;
      background-image: url(../../assets/images/unidades/fondo-umobile.png);
    }
    .col-xxl-7 {
      padding-left: calc(70px - 30px);
    }
    .col-xxl-5 {
      padding: 0;
      padding-top: 0%;
      margin-left: 10%;
      transform: scale(0.8);
    }
  }
}

@media (max-width: 992px) {
  #location {
    .ulist .list img {
      width: 8%;
      padding-right: 20px;
    }
    .mlocation {
      transform: scale3d(1.1, 1.3, 1);
      padding: 0;
    }
  }

}

@media (max-width: 376px) {
  #unitsI {
    .wunits:after {
      height: 43vh;
    }
  }
}
