
@media (min-width:992px) {
  #amenitiesI{
    .container {
      transform: translateY(-70px);
    }
    .aright {
      display: none
    }
  }
}
@media (min-width:992px) and (max-width:1199px) {
  #amenitiesI{
    .camenit {
      &:after {
        background-size: 150%;
        background-position: 25% center;
      }
    }
  }
}
@media (min-width:1200px) {
  .dwallpaper {
    &_image {
      img {
        transform: scale(1.15);
        position: absolute;
        bottom: 35px;
        z-index: 1;
        right: 45px;
      }
    }
    &_text {
      padding: 30px 0px 20px 40px;
      box-shadow: 2px 5px 10px rgba(0,0,0,.15);
      &:before {
        content: '';
        position: absolute;
        height: 100%;
        background: $white;
        z-index: 1;
        width: 150%;
        left: -40%;
        top: 0;
      }
    }
  }
  #unitII {
    .footer {
      .unitText {
        &:before {
          content: '';
          position: absolute;
          left: -20px;
          height: calc(100% - 62px);
          width: 1px;
          background: $linegrey;
        }
      }
    }
  }
}

@media (min-width:1260px) {
  .dwallpaper {
    &_image {
      img {
        transform: scale(1.05);
        bottom: 2px;
      }
    }
    &_text {
      padding: 30px 0px 30px 30px;
    }
  }
}

@media (min-width:1330px) {
  .dwallpaper {
    &_image {
      img {
        transform: scale(0.95);
        bottom: -28px;
      }
    }
    &_text {
      padding: 30px 0px 30px 0px;
    }
  }
}
@media (min-width:1440px) {
  .dwallpaper {
    &_image {
      img {
        transform: scale(0.90);
        bottom: -50px;
      }
    }
    &_text {
      padding: 30px 30px 30px 0;
      &:before {
        width: 100%;
      }
    }
  }
}
@media (min-width:1600px) {
  .dwallpaper {
    &_image {
      img {
        transform: scale(0.8);
        bottom: -90px;
      }
    }
    &_text{
      padding: 30px 30px 30px 0;
    }
  }
}
@media (max-width: 1399.98px){
  #unitsGallery {
    width: 55%;
  }
}
@media (max-width: 1300px){
  .dwallpaper {
    &_table {
      column-gap: 20px;
    }
  }
}
@media (max-width: 1199.98px){
  .dwallpaper {
    background-image: none;
    background-color: white;
    padding: 8vh 0;
    &_text{
      padding: 0 15px;
    }
    &_table {
      display: flex;
      flex-direction: column;
      padding-top: 9px;
      background-color: $whiteunit;
      padding-bottom: 10px;
      text-align: center;
      .line {
        width: 100%;
      }
      .uline{
        display: none;
      }
    }
    .button {
      text-align: center;
      margin-top: 20px;
    }
    .l-text {
      justify-content: space-evenly;
      margin-bottom: 0;
    }
  }
  #unitsGallery {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  #unitsI{
    margin-top: 0;
  }
  #unitII {
    padding-top: 0;
  }
}
@media (max-width: 991.98px) {
  .dwallpaper{
    padding-bottom: 0;
    &_logo-munich{
      max-width: 150px;
    }
    .logos{
      margin-bottom: 20px;
    }
  }
  #location {
    p.h1{
      margin-bottom: 35px;
      margin-top: 40px;
    }
    .display-6 {
      margin-bottom: 27px;
    }
    .ptext:not(button){
      text-align: center;
    }
    .ulist {
      margin-top: 45px;
    }
    .mlocation {
      span{
        font-size: calc(0.3vw + 0.6rem);
      }
      span::after{
        right: -18px;
        width: 15px;
        height: 15px;
        top: 10px;
      }
    }
    .clubs{
      span:last-child {
        &::after{
          top: 0px;
        }
        top: 6%;
      }
    }
    .university{
      span:nth-child(3) {
        &::after{
          right: -35px;
        }
        right: 48%;
      }
      span:nth-child(5) {
        bottom: 9%;
        right: 46%;
      }
      span:nth-child(6) {
        &::after{
          right: -25px;
        }
      }
    }
    .banks{
      span:first-child {
        &::after{
          right: -25px;
        }
      }
      span:last-child {
        &::after{
          right: 40px;
        }
      }
    }
    .sites-public {
      span:nth-child(4) {
        bottom: 40%;
        right: 30.5%;
      }
      span:last-child {
        &::after{
          right: -30px;
        }
      }
    }
  }
  #unitsI {
    margin-top: 20px;
    padding-bottom:0;
    overflow: hidden;
    .wunits:after {
      width: 100vw;
      background-size: cover;
      background-position: bottom;
      height: 100%;
      max-height: 500px;
      top: 25%;
      background-image: url(../../assets/images/unidades/fondo-umobile.png);
    }
    .wunits{
      position: relative;
        img.uright {
          margin-left: auto;
          width: 100%;
          right: 0;
          max-width: 650px;
          z-index: 0;
        }
    }
    .ptext {
      width: 100%;
      text-align: center;
    }
  }
  #unitII{
    text-align: center;
    padding-top: 50px;
  }
  #a-amenities{
    background-image: url(../../assets/images/amenities/terraza-m.jpg);
  }
  #amenitiesI{
    margin: 0;
    padding: 0;
    .camenit {
      padding-top: 60px;
      padding-bottom: 50px;
      &:after {
        width: 100vw;
        background-size: cover;
        height: 100%;
        max-height: 450px;
        background-image: url(../../assets/images/amenities/fa-m.png);
        background-position: bottom;
        top: 0;
        transform: none;
      }
      .aright {
        width: 100%;
        max-width: 600px;
        margin-left: auto;
        margin-top: 20px;
      }
      .col-right{
        text-align: center;
      }
    }
  }
  #typology{
    .mbg{
      background-size: cover;
      height: 45vh;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      &.mbg1{
        background-image: url(../../assets/images/tipologias/monoambiente.jpg);
      }
      &.mbg2{
        background-image: url(../../assets/images/tipologias/1dormitorio.jpg);
      }
    }
    .swiper-container {
      .swiper-slide {
        flex-direction: column;
      }
      .swiper-button-prev {
        top: 90%;
        left: auto;
        right: 90px;
        &::after{
          font-size: 20px;
        }
      }
      .swiper-button-next {
        top: 90%;
        right: 30px;
        &::after{
          font-size: 20px;
        }
      }
    }
    .btn.btn-primary {
      padding: 5px 20px;
      font-weight: 400;
    }
    .mtypology{
      background-image: url(../../assets/images/tipologias/ft-mobile.png);
      height: auto;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 45px 0;
    }
  }
  #myModal {
    .modal-content {
      border-radius: 30px;
      .btn-close {
        top: 30px;
        right: 30px;
      }
      .modal-body {
        .item {
          display: grid;
          grid-template-columns: auto;
          column-gap: 0;
          row-gap: 20px;
          .mcol-left{
            img.pref{
              display: none;
            }
          }
          .mcol-right{
            img.gref{
              max-width: 300px;
              left: 0;
              right: 0;
              margin-left: auto;
              margin-right: auto;
            }
          }
        }
        .owl-carousel {
          display: block;
          padding: 0 15px;
          .owl-nav [class*=owl-] {
            font-weight: 300;
          }
        }
      }
    }
  }
  #unitsGallery {
    .swiper-container {
      .swiper-button-prev {
        &::after{
          font-size: 20px;
        }
      }
      .swiper-button-next {
        &::after{
          font-size: 20px;
        }
      }
    }
  }
  #amenitiesIII{
    .col-am{
      display: grid;
      grid-template-columns: 1fr 1fr;
      .am{
        img {
          margin-bottom: 20px;
          margin-top: 15px;
          max-width: 110px;
        }
      }
    }
    .fancyImgBox {
      grid-template-columns: 1fr;
      grid-row-gap: 70px;
    }
  }
  #bamenities{
    .swiper-container {
      .swiper-button-prev {
        left: 10px;
        &::after{
          font-size: 20px;
        }
      }
      .swiper-button-next {
        right: 10px;
        &::after{
          font-size: 20px;
        }
      }
    }
  }
  #advance{
    padding-top: 40px;
    padding-bottom: 20px;
    .tline{
      img{
        width: 85%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .aline {
      width: 100%;
      .item.inic {
        width: 80%;
      }
      .item.finish{
        width: 35%;
      }
    }
  }
  #gallery{
    #lightgallery {
      grid-template-columns: repeat(4, 1fr);
      margin-top: 10px;
    }
  }
  #project {
    img.psolare {
      display: none;
    }
  }
  #stext {
    padding-top: 80px;
  }
  #contact .formCol2 {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  #location {
    .university{
      span:first-child {
        bottom: 38%;
        left: 0%;
      }
      span:nth-child(5) {
        bottom: 8%;
        right: 45%;
      }
    }
    .sites-public {
      span:nth-child(4) {
        bottom: 44%;
      }
    }
    .banks {
      span:first-child {
        left: 10%;
      }
      span:last-child {
        top: 29.5%;
        right: -2%;
      }
    }
  }
  #unitsI{
    .wunits{
      img.uright {
        max-width: 550px;
      }
    }
  }
  #unitII {
    padding-top: 40px;
  }
  #myModal {
    .modal-content {
      .modal-body {
        .owl-carousel{
          .owl-prev{
            left: -10px;
          }
          .owl-next{
            right: -10px;
          }
        }
        .item{
          .mcol-left{
            .display-5 {
              font-size: 1.75rem;
            }
            h3{
              font-size: 1rem;
            }
            p.mt-3{
              font-size: 0.63rem;
            }
          }
          .mcol-right{
            img.gref{
              max-width: 250px;
            }
          }
        }
      }
    }
  }
  #unitsGallery {
    padding: 5px 0;
    .container {
      max-width: 100%;
      .col-12 {
        padding: 0;
      }
    }
    .gallery-thumbs {
      display: none;
    }
  }
  #project{
    .ititle {
      flex-direction: column;
      img {
        margin-bottom: 20px;
        padding-right: 0;
        max-width: 50px;
      }
    }
  }
  #projectUs {
    .footer {
      margin-top: 45px;
      flex-direction: column;
    }
    .footer p:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  #advance {
    h1.title {
      margin-bottom: 30px;
    }
    .tline {
      img {
        width: 80%;
      }
    }
    .aline {
      .item.inic {
        width: 80%;
      }
      .item {
        img {
          width: auto;
          height: 35px;
          margin: 20px auto 10px;
        }
      }
    }
  }
  #gallery{
    #lightgallery{
      display: block;
      width: 100%;
      padding-bottom: 0;
      margin-top: 0;
      a{
        display: block;
      }
    }
  }
  #projectUs {
    background-image: none;
    background-color: $golden;
  }
  #unitII {
    .footer {
      flex-direction: column;
      .unitp {
        margin-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
        canvas#myChar {
          display: none;
        }
      }
      .unitText {
        text-align: center;
        margin: 0 auto;
        h3, p {
          text-align: center;
        }
      }
    }
  }
  #amenitiesI {
   .camenit .aright {
      max-width: 500px;
    }
  }
}
@media (max-width: 576px) {
  #unitsI {
    padding-bottom: 0px;
    .wunits {
      img.uright {
        max-width: 400px;
      }
    }
  }
  #myModal {
    .modal-content {
      .btn-close {
        right: 30px;
      }
    }
  }
  #amenitiesI {
    .camenit{
      img.aright {
        max-width: 400px
      }
    }
  }
  #amenitiesIII {
    .col-am .am img {
      max-width: 80px;
    }
  }
  #advance {
    h5 {
      font-size: .8rem;
    }
    .item p{
      font-size: 12px;
      line-height: 14px;
    }
  }
  .dwallpaper {
    .l-text {
      .text {
        font-size: .6rem;
      }
    }
  }
  .dwallpaper_table {
    width: calc(100% + 30px);
    margin-left: -15px;
  }
  #location .ulist .list{
    margin-bottom: 15px;
    img{
      width: 30px;
      padding-right: 10px;
    }
    p {
      font-size: 14px;
    }
  }
}
@media (max-width: 500px){
  #location{
    .mlocation{
      span{
        font-size: 0.6rem;
      }
    }
    .university{
      span:first-child {
        left: 0%;
      }
      span:nth-child(5) {
        bottom: 10%;
        right: 47%;
      }
      span:nth-child(6) {
        top: 17%;
      }
      span:nth-child(7) {
        top: 26%;
        right: 3%;
      }
     }
    .sites-public {
      span:first-child {
        bottom: 14%;
        left: 9%;
      }
      span:nth-child(2) {
        bottom: 41%;
        left: 13%;
      }
      span:nth-child(3) {
        left: 26%;
      }
       span:nth-child(4) {
        bottom: 44%;
        right: 32%;
      }
      span:last-child {
        &::after{
          right: -20px;
        }
      }
    }
    .clubs{
      span:first-child {
        top: 10%;
      }
    }
    .banks{
      span:first-child {
        bottom: 25%;
      }
      span:last-child{
        &::after{
          right: 29px;
        }
      }
    }
  }
}
@media (max-width: 445px){
  #location{
    .banks{
      span:first-child {
        left: 8%;
      }
    }
  }
}
@media (max-width: 425px){
  #unitsI{
    padding-bottom: 10px;
    .wunits {
      img.uright {
      max-width: 330px;
      }
    }
  }
  #unitII {
     padding-top: 10%;
  }
  #amenitiesI{
    .camenit {
      img.aright {
        max-width: 300px;
      }
    }
  }
}
@media (max-width: 390px){
  #location{
    .banks{
      span:first-child {
        left: 5%;
      }
    }
  }
}
@media (max-width: 375px){
    #location{
    .banks{
      span:first-child {
        left: 3.1%;
      }
    }
  }
  #unitsI{
    .wunits {
      img.uright {
      max-width: 80%;
      }
    }
  }
  #unitII {
     padding-top: 10%;
  }
}
@media (max-width: 320px){
    #location{
    .banks{
      span:first-child {
        left: 2.8%;
      }
    }
  }
}
