:root{
  font-size: 16px;
}

body {
  opacity: 0;
  overflow-x: hidden;
}
p{
  font-weight: 400;
}
p.h1, h1, p.h2, h2, p.h3, h3, p.h5, p.display-2, .display-2, p.display-5, .display-5, p.display-6, .display-6{
  font-family: 'Raleway';
  color: $bluetitle;
  font-weight: 700;
}
p, p.h4, h4, h5, p.h6, h6 {
  font-family: 'Roboto';
  color: $text-black;
}

a,div,input,button,textarea{
  font-family:'Roboto';
  color: $text-black;
}
a{
  text-decoration: none;
}
a:hover, a:active, a:focus{
  text-decoration: none;
}
img {
  max-width: 100%;
}

section {
  position: relative;
  padding: 8vh 0;
}

.btn{
  border-radius: 48px;
  padding: 8px 40px;
  color: $white;
  font-size: 1rem;
  font-weight: 500;
}
.btn.btn-primary {
  background-color: $btn;
  border-color: $btn;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus{
  background-color: $btn-hover!important;
  border-color: $btn-hover!important;
  box-shadow: none!important;
}

.btn.btn-secondary {
  background-color: $bluetitle;
  border-color: $bluetitle;
}

.btn.btn-secondary:hover, .btn.btn-secondary:active, .btn.btn-secondary:focus {
  background-color: $blueuniversity!important;
  border-color: $blueuniversity!important;
  box-shadow: none!important;
}

.strong {
  font-weight: 700;
}

/*---------------HEADER---------------*/
#b-header{
  background-image: linear-gradient(90deg, #000000cc 0%, #00000042 80%, #00000000 100%),url(../../assets/images/header/header-desktop.jpg);
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 150px;
  .display-5{
    font-weight: 700;
    color: $white;
    margin-bottom: 19px;
  }
  .container {
    z-index: 5;
    position: relative;
  }
}

/*---------------Swipper---------------*/
.swiper-pagination-bullet, .swiper-pagination-bullet-active {
  background: $swipergrey;
}
/*----------------------------Queries-------------------------------*/

@media (max-width: 1399.98px) {}

@media (max-width: 1199.98px) {}

@media (max-width: 992px) {
  #b-header{
    background-image: linear-gradient(90deg, #000000cc 0%, #00000042 80%, #00000000 100%),url(../../assets/images/header/header-mobile.jpg);
    background-position: center;
  }
  section {
    position: relative;
    padding: 4vh 0;
  }
}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {}
