footer {
  background-color: #F7F7F7;
  padding: 50px 0;
  .col-12 {
    align-items: center;
      .item1 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        column-gap: 130px;
        margin-bottom: 45px;

        .subitem1 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        img {
          max-width: 150px;
          width: 100%;
        }
        p {
          font-size: 1rem;
        }
      }
      .item2 {
        text-align: center;
        p {
          font-size: 1rem;
          margin-top: 15px;
        }
      }
  }
}

/*----------------------------Queries-------------------------------*/

@media (max-width: 1399.98px) {}

@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {
  footer {
    .item img {
      width: calc(100% - 60px);
    }
    .item1 p {
      font-size: 1rem;
    }
  }
}

@media (max-width: 768px) {
  footer {
    padding: 45px 0;
    .col-12 {
      justify-content: center;
        .item1 {
          flex-direction: column;
          justify-content: center;
          row-gap: 20px;
          margin-bottom: 20px;
          .subitem1{
            img {
              width: calc(100% - 10px);
            }
             p {
              font-size: 0.75rem;
              margin-bottom: 5px;
            }
          }
          .subitem1:not(:first-child) p {
            margin-bottom: 10px;
          }
          .subitem1:last-child p {
            margin-bottom: 2px;
          }
        }
        .item2 {
          margin-top: 20px;
          text-align: center;
          p {
            margin-top: 0;
            font-size: 0.8rem;
          }
        }
    }
  }

}

@media (max-width: 575.98px) {}
