:root{
  font-size: 16px;
}

p.h1, h1, p.h2, h2, p.h3, h3, p.h4, h4, p.h5, h5, p.h6, h6 {
  font-family: Roboto;
  color: $text;
}

a,p,div,input,button,textarea{
  font-family: Roboto;
  color: $text-secondary;
}
a{
  text-decoration: none;
}
img {
  max-width: 100%;
}

section {
  position: relative;
  padding: 8vh 0;
}

.btn.btn-primary {
  background-color: $btn;
  border-color: $btn;
  border-radius: 48px;
  padding: 8px 40px;
  color: $white;
  font-size: 1rem;
  font-weight: 700;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus{
  background-color: $btn-hover!important;
  border-color: $btn-hover!important;
  box-shadow: none!important;
}

/*---------------HEADER---------------*/
#b-header{
  background-image: url(../../assets/images/header/header-desktop.jpg);
  background-size: cover;
  height: 90vh;
  background-position: center;
  padding-top: 150px;
  h1.display-4{
    font-size: 4rem;
    font-weight: 700;
    color: $white;
    margin-bottom: 19px;
  }
}

/*----------------------------Queries-------------------------------*/

@media (max-width: 1399.98px) {}

@media (max-width: 1199.98px) {}

@media (max-width: 992px) {
  #b-header{
    background-image: url(../../assets/images/header/header-mobile.jpg);
  }

}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {}
