:root{
  font-size: 16px;
}

p.h1, h1, p.h2, h2, p.h3, h3, p.h4, h4, p.h5, h5, p.h6, h6 {
  font-family: Roboto;
  color: $text;
}

a,p,div,input,button,textarea{
  font-family: Roboto;
  color: $text-secondary;
}

img {
  max-width: 100%;
}

section {
  position: relative;
  padding: 8vh 0;
}

.btn.btn-primary {
  background-color: $btn;
  border-color: $btn;
  border-radius: 48px;
  padding: 8px 40px;
  color: $white;
  font-size: 1rem;
  font-weight: 700;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus{
  background-color: $btn-hover!important;
  border-color: $btn-hover!important;
  box-shadow: none!important;
}

/*---------------HEADER---------------*/
#b-header{
  background-image: url(../../assets/images/header/header-desktop.jpg);
  background-size: cover;
  height: 100vh;
  background-position: center;
  padding-top: 150px;
  h1.display-4{
    font-size: 4rem;
    font-weight: 700;
    color: $white;
    margin-bottom: 19px;
  }
}
#description{
  background-image: url(../../assets/images/fondo-d.png);
  padding: 12% 10%;
  z-index: -1;
  margin-top: -10px;
  .col-lg-5 {
        top: 0;
    bottom: 0;
    margin-bottom: auto;
    margin-top: auto;
    transform: scale3d(1.3, 1.42, 1);
}
  .col-lg-7.col-12 {
    padding-top: 30px;
    padding-left: 10%;
}
      .logo-munich{
        width: 40%;
        margin-bottom: 34px;
      }
      p{
      color: #494846;
      }
      .text1{
        font-weight: 400;
      }
      .text2{
        font-weight: 700;
      }
      .table{
        display: flex;
        flex-direction: row;
        column-gap: 60px;
        .line{
          background-color: #d6d6d6;
          height: 1px;
          width: 110%;
          margin-bottom: 1rem;
        }
      }
      .btn.btn-primary {
        background-color: #005170;
        border-color: #005170;
        border-radius: 48px;
        padding: 8px 40px;
        color: $white;
        font-size: 1rem;
        font-weight: 700;
      }
      .btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus{
        background-color: #002938!important;
        border-color: #002938!important;
        box-shadow: none!important;
      }
      .l-text{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 30px;
        margin-top: 40px;
        .text{
          font-size: 1.125rem;
          color:$black;
        }
      }
      .logos{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 50px;
        .log img{
          width: 80%;
        }
      }
  }

section#description:before {
    position: absolute;
    content: "";
    background-color: white;
    height: 133vh;
    width: 65%;
    left: 31%;
    z-index: -1;
}
/*----------------------------Queries-------------------------------*/

@media (max-width: 1399.98px) {}

@media (max-width: 1199.98px) {}

@media (max-width: 992px) {
  #b-header{
    background-image: url(../../assets/images/header/header-mobile.jpg);
  }
  #description {
    background-image: none;
    background-color: white;
    padding: 8vh 0;
    .dwallpaper {
      background-color: #fff;
      padding: 0;
      img.imgleft {
        display: none;
      }
      .table {
        display: flex;
        flex-direction: column;
        padding-top: 9px;
        background-color: #F7F7F7;
        padding-bottom: 13px;
        text-align: center;
        .line {
          background-color: #d6d6d6;
          width: 100%;
        }
      }
      .button {
        text-align: center;
      }
      .l-text {
        justify-content: space-evenly;
      }
      .logos {
        justify-content: space-evenly;
      }
    }
  }
}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {}
