header {
  background-color: $white;
  box-shadow: 0px 5px #00000029;
  border-bottom: 5px solid #B29263;
  height: 70px;
  position: fixed;
  z-index: 10000000;
  width: 100%;
  .navbar-brand img{
    width: 60%;
  }
  .navbar{
    .navbar-toggler {
      color: #d6d6d6;
      border-color: #d6d6d6;
      .line_m {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        span.m_line {
          width: 35px;
          height: 3px;
          margin: 3px 0;
          background: #085170;
          border-radius: 29px;
        }
      }
    }
   .navbar-collapse {
      justify-content: end;
      .navbar-nav{
        .nav-item{
          a{
            color: #707070;
            font-size: 1rem;
            font-weight: 400px;
          }
        }
      }
    }
  }

}
/*----------------------------Queries-------------------------------*/

@media (max-width: 1399.98px) {}

@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {
  header{
    .navbar{
      .navbar-collapse {
        .navbar-nav {
          align-items: center;
          padding-top: 20px;
        }
      }
     }
  }
}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {}
