header {
  background-color: $white;
  border-bottom: 7px solid $golden;
  height: 70px;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  box-shadow: 0px 5px 19px rgb(0 0 0 / 29%);
  .navbar-brand img{
    width: 160px;
  }
  .navbar{
    flex-wrap: nowrap;
    .navbar-toggler {
      color: $white;
      border-color: $white;
      .line_m {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        span.m_line {
          width: 24px;
          height: 2px;
          margin: 3px 0;
          background: #085170;
          border-radius: 2px;
        }
      }
    }
   .navbar-collapse {
      justify-content: end;
      background-color: $white;
      .navbar-nav{
        .nav-item{
          a.nav-link{
            color: #707070;
            font-size: 1rem;
            font-weight: 400;
            padding-left: 1rem !important;
            padding-right: 1rem !important;
            white-space: nowrap;
          }
        }
      }
    }
  }
}
/*----------------------------Queries-------------------------------*/

@media (max-width: 991.98px) {
  header{
    .navbar{
      .navbar-collapse {
        background-color: white;
        margin: 0;
        position: fixed;
        top: 68px;
        left: 0;
        width: 100%;
        .navbar-nav {
          li.nav-item:not(:last-child){
            border-bottom: 1px solid $linegrey;
            width: 100%;
          }
        }
      }
    }
    .navbar-brand img{
      width: 120px;
    }
  }
}

