header {
  background-color: $white;
  box-shadow: 0px 5px #00000029;
  border-bottom: 5px solid #B29263;
  height: 70px;
  position: fixed;
  z-index: 1053;
  width: 100%;
  .navbar-brand img{
    width: 60%;
  }
  .navbar{
    flex-wrap: nowrap;
    .navbar-toggler {
      color: $white;
      border-color: $white;
      .line_m {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        span.m_line {
          width: 35px;
          height: 3px;
          margin: 3px 0;
          background: #085170;
          border-radius: 29px;
        }
      }
    }
   .navbar-collapse {
      justify-content: end;
      background-color: white;
      .navbar-nav{
        .nav-item{
          a.nav-link{
            color: #707070;
            font-size: 1rem;
            font-weight: 400;
            padding-left: 1rem !important;
            padding-right: 1rem !important;
          }
        }
      }
    }
  }
}
/*----------------------------Queries-------------------------------*/

@media (max-width: 1399.98px) {}

@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {
  header{
    .navbar{
      .navbar-collapse {
        background-color: white;
        margin: 0;
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        .navbar-nav {
          align-items: center;
          padding-top: 20px;
          li.nav-item:not(:last-child){
            border-bottom: 1px solid black;
            width: 100%;
            text-align: center;
          }
        }
      }
     }
  }
}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {}
