/*-----------------------------About-Us----------------------------*/
#aboutUs {
  padding-top:69px;
  margin-top: 0;
  padding-bottom:45px;
  .divider {
    width: 100%;
    margin: 40px auto 70px;
  }
  img.logo {
    width: 100%;
    max-width: 270px;
  }
  .seeMore{
    margin-top: 40px;
  }
  &_twoImages{
      background-image: url(../../assets/images/nosotros/continents-nosotros.jpg);
      height: 430px;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  #continents{
    margin-top: 50px;
  }
}
#aboutUsv{
  padding-top: 0;
  & > .container{
    padding-top: 8vh;
    border-top: solid 1px #B7B1A6;
  }
  img.logo {
    width: 100%;
    max-width: 250px;
  }
  #ventus{

    div.twoImages img:not(.logo) {
      width: 100%;
      margin-bottom: 30px;
    }
    .footer{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 30px;
      column-gap: 15px;
    }
    .seeMore {
      display: flex;
      flex-direction: row;
      align-items:center;
      margin-top: 40px;
      .red {
        margin-left: auto;
        img {
          max-width: 40px;
          width: 100%;

        }
      }
   }
  }
}
#aboutUsc{
  padding-top: 0;
  & > .container{
    padding-top: 8vh;
    border-top: solid 1px #B7B1A6;
  }
  img.logo {
    width: 100%;
    max-width: 270px;
  }

  .seeMore{
    margin-top: 40px;
  }
}
/*----------------------------Queries-------------------------------*/

@media (max-width: 991.98px) {
   #aboutUs{
    #continents{
      img.logo {
        width: 50%;
        margin-bottom: 50px;
      }
      .col-12.col-lg-4 {
        text-align: center;
      }
      .seeMore {
        text-align: center;
      }
    }
  }
  #aboutUsv{
    #ventus{
      margin-top: 30px;
      .footer{
        flex-direction: column;
        row-gap:18px;
      }
      img.logo {
        width: 50%;
        margin-bottom: 50px;
      }
      .col-12.col-lg-4 {
        text-align: center;
      }
      .seeMore {
        text-align: center;
        display: block;
        .red {
          margin-left: auto;
          margin-top: 36px;
        }
      }
    }
  }
  #aboutUsc{
    #cesio{
      margin-top: 25px;
      img.logo {
        width: 50%;
        margin-bottom: 50px;
      }
      .col-12.col-lg-4 {
        text-align: center;
      }
      .seeMore {
        text-align: center;
      }
    }
  }
}

