/*-----------------------------About-Us----------------------------*/
#aboutUs {
  background-color: $whiteunit;
  padding-top:69px;
  margin-top: 0;
  padding-bottom:45px;
  .divider {
    width: 100%;
    margin: 40px auto 70px;
  }
  img.logo {
    width: 100%;
    max-width: 270px;
  }
  .seeMore{
    margin-top: 40px;
  }
  .twoImages{
      background-image: url(../../assets/images/nosotros/continents-nosotros.jpg);
      height: 430px;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  #continents{
    margin-top: 50px;
  }
}
#aboutUsv{
  background-color: $whiteunit;
  padding-top: 0;
  & > .container{
    padding-top: 8vh;
    border-top: solid 1px #B7B1A6;
  }
  img.logo {
    width: 100%;
    max-width: 250px;
  }
  #ventus{
    div.twoImages img:not(.logo) {
      width: 100%;
      margin-bottom: 30px;
    }
    .footer{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 30px;
      column-gap: 15px;
    }
    .seeMore {
      display: flex;
      flex-direction: row;
      align-items:center;
      margin-top: 40px;
      .red {
        margin-left: auto;
        img {
          max-width: 40px;
          width: 100%;

        }
      }
   }
  }
}
/*-----------------------------About-Projects----------------------------*/
.projects{
  .line_mayor{
    margin-top: 30px;
    width: 100%;
    border-bottom: 1px solid #B7B1A6;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin-bottom: 25px;
    p.h2{
      font-family: 'Roboto';
      color: $text-black;
    }
    img{
      max-width: 30px;
      width: 100%;
      margin-right: 17px;
    }
  }
  a{
    text-decoration: none;
    &:hover{
      .contentImg img {
        transform: scale(1.07);
      }
    }
  }
  .tam_proj {
    padding: 0 10px;
  }
  .contentImg {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    max-height: 358px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    box-shadow: 4px 4px 6px #00000029;
    img {
      width: 100%;
      transition: all .5s ease;
      height: 354.66px;
    }
  }
  .band_projects{
    width: 40px;
    padding-right: 10px;
    transform: translateY(-3px);
  }
  .legendImg {
    padding: 20px;
    box-shadow: 0px 3px 6px #00000029;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    .line{
      margin-top: 15px;
      width: 100%;
      border-bottom: 1px solid #B7B1A6;
      margin-bottom: 15px;
      margin-left: auto;
      margin-right: auto;
    }
    .imgLegend {
      display: flex;
      flex-direction: column;
      justify-content: center;
      img {
        width: 100%;
        max-width: 180px;
        height: 66px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .textLegend p {
      margin: 3px;
      font-size: 16px;
      font-weight: 700;
    }
  }
  .btnProject {
    text-align: center;
    position: relative;
    z-index: 0;
    margin: 0;
    transform: translateY(40px);
    .btn{
      position: relative;
      z-index: 2;
    }
  }
}
/*----------------------------Queries-------------------------------*/

@media (max-width: 991.98px) {
   #aboutUs{
    #continents{
      img.logo {
        width: 50%;
        margin-bottom: 50px;
      }
      .col-12.col-lg-4 {
        text-align: center;
      }
      .seeMore {
        text-align: center;
      }
    }
  }
  #aboutUsv{
    #ventus{
      margin-top: 30px;
      .footer{
        flex-direction: column;
        row-gap:18px;
      }
      img.logo {
        width: 50%;
        margin-bottom: 50px;
      }
      .col-12.col-lg-4 {
        text-align: center;
      }
      .seeMore {
        text-align: center;
        display: block;
        .red {
          margin-left: auto;
          margin-top: 36px;
        }
      }
    }
  }
  .projects{
    .title{
      margin-bottom: 2px;
      img{
        margin-right: 10px;
      }
    }
  }
}
@media (max-width: 575.98px){
  .projects{
    .tam_proj {
      padding: 0 30px;
    }
    .contentImg {
      img {
        height: 270px;
      }
    }
    .legendImg{
      padding: 15px;
      .line {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .imgLegend {
        img {
          max-width: 130px;
          height: 40px;
        }
        p{
          font-size: 12px;
        }
      }
    }
  }
}
