$primary: #191920;
$secondary: #033545;
$text: #12446e;
$text-secondary: #425762;
$text-hover: #191920;
$text-black: #494846;
$btn: #B29263;
$btn-hover: #a19160;

$white: #fff;
$black: #000;

$lightestgrey: #F5F5F5;

$lightgrey: #B6B7B7;
$darkgrey: #86888C;
$darkergrey: #50535A;
$darkestgrey: #313235;

$golden:#B29263;
$blackgrey:#000000C9;
$lightergrey: #4D4D4D;
$whiteunit:#f7f7f7;
$bluesky:#a3dfe9;
$blueaqua:#007a96;
$aquamarine: #04a9cc;
$blueuniversity: #0E436F;
$bluetitle: #005170;
$swipergrey: #7C7C7C;
$linegrey:#b7b1a5;
