$primary: #191920;
$secondary: #033545;
$text: #12446e;
$text-secondary: #425762;
$text-hover: #191920;
$text-black: #494846;
$btn: #B29263;
$btn-hover: #a19160;



$white: #fff;
$black: #000;

$lightestgrey: #F5F5F5;
$lightergrey: #D3D4D3;
$lightgrey: #B6B7B7;
$darkgrey: #86888C;
$darkergrey: #50535A;
$darkestgrey: #313235;
